<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mymendian.mymendian.dao.DingdanDao" >
    <resultMap id="DingdanMap" type="com.mymendian.mymendian.model.Dingdan" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="dingdan_id" property="dingdan_id" jdbcType="INTEGER" />
        <result column="dingdan_time" property="dingdan_time" jdbcType="VARCHAR" />
        <result column="dingdan_xiaoshou_man" property="dingdan_xiaoshou_man" jdbcType="INTEGER" />
        <result column="dingdan_kehu_name" property="dingdan_kehu_name" jdbcType="VARCHAR" />
        <result column="dingdan_cheliang" property="dingdan_cheliang" jdbcType="VARCHAR" />
    </resultMap>
    <insert id="insertDingdan" useGeneratedKeys="true" keyProperty="dingdan.id" parameterType="com.mymendian.mymendian.model.Dingdan">
        insert into Dingdan (dingdan_id,dingdan_time,dingdan_xiaoshou_man
          ,dingdan_kehu_name,dingdan_cheliang)
        values (#{dingdan_id},#{dingdan_time},#{dingdan_xiaoshou_man}
        ,#{dingdan_kehu_name},#{dingdan_cheliang})
    </insert>
    <update id="updateDingdan"  parameterType="com.mymendian.mymendian.model.Dingdan">
        update Dingdan set
        dingdan_time=#{dingdan_time},
        dingdan_xiaoshou_man=#{dingdan_xiaoshou_man},
        dingdan_kehu_name=#{dingdan_kehu_name},
        dingdan_cheliang=#{dingdan_cheliang}
        where dingdan_id=#{dingdan_id}
    </update>
    <delete id="deleteDingdan" parameterType="INTEGER">
        delete from dingdan where dingdan_id=#{dingdan_id}
    </delete>
    <select id="findDingdanById" resultMap="DingdanMap" parameterType="INTEGER">
        select * from dingdan
        <where>
            dingdan_id=#{dingdan_id}
        </where>
    </select>
    <select id="findDingdanByDingdan_id" resultMap="DingdanMap" parameterType="INTEGER">
        select * from dingdan
        <where>
            dingdan_id=#{dingdan_id}
        </where>
    </select>
    <select id="findDingdanLast" resultMap="DingdanMap" parameterType="INTEGER">
        select * from dingdan limit #{n}
    </select>
</mapper>
